<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinzhi.repository.mapper.SysProductMapper" >
  <resultMap id="BaseResultMap" type="com.qinzhi.domain.SysProduct" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_name, app_id, app_key, platform, create_date, create_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qinzhi.domain.SysProduct" >
    insert into sys_product (id, product_name, app_id, 
      app_key, platform, create_date, 
      create_user)
    values (#{id,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{appKey,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qinzhi.domain.SysProduct" >
    update sys_product
    set product_name = #{productName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_key = #{appKey,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findProductList" parameterType="map" resultMap="BaseResultMap">
      select * from sys_product limit ${start},${limit}
  </select>
  
  <select id="getProductCount" resultType="java.lang.Integer">
      select count(*) from sys_product
  </select>
  <select id="findAllAppId" resultType="java.lang.String">
    select app_Id FROM sys_product
  </select>
</mapper>
